@model List<MyPortfolio.DAL.Entities.Skill>

<div class="col-six tab-full right">
    <h3>I've Got Some skills.</h3>

    <ul class="skill-bars">   
        @foreach(var item in Model)
        {
            string percentClass = "percent" + item.Value;
            <li>
                <div class="progress @percentClass"><span>@item.Value%</span></div>
                <strong>@item.Title</strong>
            </li>
        }       
    </ul>
</div>